@import "tailwindcss";

@theme {
  --color-main: #aec6f7;
  --color-main-light: #f0f4ff;
  --color-main-dark: #3a5e9a;
  --color-point: #ffd166;
  --color-purple-light: #d3b3e1;

  --font-pretendard: var(--font-pretendard);
}

body {
  font-family: var(--font-pretendard), sans-serif;
  background-color: #ffffff;
  /* 전체적으로 선명하고 얇은 느낌을 위해 폰트 두께 미세 조정 */
  letter-spacing: -0.02em;
}
